/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 1080px;
  height: 100%;
}

/* styles for front.html */

/*frontpage div*/
#myBlock {
  /*position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: left;
}

#myBlock a {
  position: relative;
  left: 40%;
  top: 40%;
}

#myBlock img {
  height: 200px;
  max-width: 100%;
  text-align: center;
}

/*main.html STYLES GO DOWN HERE*/

.section {
  text-align: center;
  font-size: 3em;
}

/*NAVIGATION STYLE*/
/*.fixedNav {
  position: fixed;
  background-color: red;
  width: 100vw;
  height: 30px;
}*/

#campaignContainer {
  background-image: url('../images/campaign_new.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
}

#campaignContainer img {
  height: 150px;
  max-width: 100%;
  text-align: center;
  position: relative;
  top: 20%;
}

#information {
  width: 100vw;
  height: 500px;
  background-color: rgb(167, 207, 216);
}

#information img {
  height: 100px;
  position: relative;
  top: 7%;
}

#shoppingCart {
  background-color: white;
}

#rightAtHome {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: left;
}

#footer {
  height: 300px;
  background-color: black;
}
