Assignment 6 Requirements

	•	Call ```$.val()``` on inputs to get the string value of your user's input 
	•	Store user input in ```var city``` 
	•	Create ```if / else if / else``` conditionals to control the flow of your application 
	•	Write at least six different lines of pseudocode and display them inline as JavaScript comments 
	•	Prevent a form submission using the ```event.preventDefault()``` function 

	•	Get the first element from an attribute name using ```$.attr()``` 
	•	Use the ```||``` operator in your conditionals to allow for multiple string values to execute ```if/else if``` statement code 
	•	If a user submits: 
	◦	"New York" or "New York City" or "NYC" make the background of the page nyc.jpg 
	◦	"San Francisco" or "SF" or "Bay Area" make the background of the page sf.jpg 
	◦	"Los Angeles" or "LA" or "LAX" make the background of the page la.jpg 
	◦	"Austin" or "ATX" make the background of the page austin.jpg 
	◦	"Sydney" or "SYD" make the background of the page sydney.jpg 
